// Стили для подвала
.footer {
    background-color: darken($background-color, 2%); // Цвет фона, затемненный на 2%
    color: $text-color; // Цвет текста
    padding: 20px 0; // Внутренние отступы сверху и снизу
    margin-top: auto; // Автоматический отступ сверху для выравнивания внизу страницы
}
