// Стили для шапки
.header {
    background-color: $background-color;
    color: $text-color;
    padding: 20px 0;

    // Контейнер шапки
    .container {
        display: flex;
        align-items: center;
    }

    // Логотип
    &__logo,
    &__logo h1 {
        text-decoration: none !important;
        color: inherit;
        font-size: 24px;
        font-weight: 700;
        margin: 0;

        // Цвет для span в логотипе
        span {
            color: $primary-color;
        }
    }

    // Навигация
    &__nav {
        position: relative;
        margin-left: auto;

        // Список навигации
        ul {
            display: flex;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        // Элементы навигации
        &__item {
            display: inline-block;
            margin-right: 20px;

            // Ссылки
            & a {
                color: white;
                text-decoration: none;

                // При наведении
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Стили для блока аутентификации администратора
.admin-auth {
    position: absolute;
    width: 220px;
    right: 0;
    display: grid;
    gap: 0.5rem;
    background: #fff;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    // Убираем отступы у всех элементов
    * {
        margin: 0 !important;
    }
}
